<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <header class="navbar">

        <div class="nav-container">

            <div class="logo">
                <img src="assets/logo.png" alt="Fatcat Wealthy">
            </div>

            <nav class="nav-menu" id="navMenu">

                <a href="home.html" class="active">Home</a>
                <a href="../about/about.html">About Us</a>
                <div class="dropdown">

                    <a href="../services/service.html" class="dropbtn" id="servicesLink">
                        Services <span class="arrow">▾</span>
                    </a>

                    <div class="dropdown-content">

                        <div class="submenu">
                            <a href="#">Investment Broking ▸</a>

                            <div class="submenu-content">
                                <a href="../services/mutual-fund.html">Mutual Fund</a>
                                <a href="../services/stock-broking.html">Stock Broking</a>
                            </div>
                        </div>

                        <a href="../services/insurance.html">Insurance</a>
                        <a href="../services/loans.html">Loans</a>
                        <a href="academy.html">Academy</a>

                    </div>

                </div>

                <a href="academy.html">Academy</a>
                <a href="business.html">Business</a>
                <a href="career.html">Career</a>

                <a href="contact.html" class="contact-btn">Contact Us</a>

            </nav>


            <div class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>

    </header>

    
</body>
</html>