*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
font-family: 'Poppins', sans-serif;
}
/* NAVBAR */

.navbar{
width:100%;
background:#1e9bb4;
padding:12px 6%;
position:sticky;
top:0;
z-index:1000;
}

.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
}

/* LOGO */

.logo img{
height:45px;
}

/* MENU */

.nav-menu{
display:flex;
align-items:center;
gap:30px;
}

.nav-menu a{
text-decoration:none;
color:white;
font-size:15px;
transition:0.3s;
}

.nav-menu a:hover{
color:#38bdf8;
}

/* CONTACT BUTTON */

.contact-btn{
background:#2563eb;
padding:8px 18px;
border-radius:6px;
}

/* DROPDOWN */

.dropdown{
position:relative;
}

.dropbtn{
background:none;
border:none;
color:white;
font-size:15px;
cursor:pointer;
display:flex;
align-items:center;
gap:5px;
}

.dropdown-content{
display:none;
position:absolute;
top:35px;
background:white;
min-width:180px;
border-radius:6px;
top:100%;
left:0;
z-index:999;    
box-shadow:0 5px 20px rgba(0,0,0,0.15);
}

.dropdown-content a{
display:block;
padding:10px 15px;
color:#333;
}

.dropdown-content a:hover{
background:#f3f4f6;
}

.dropdown:hover .dropdown-content{
display:block;
}


/* Submenu */

.submenu{
position:relative;
}

.submenu-content{
display:none;
position:absolute;
left:100%;
top:0;
background:#ffffff;
min-width:180px;
border-radius: 5px;
}

.submenu:hover .submenu-content{
display:block;
}

/* Hover effect */

.dropdown-content a:hover{
background:#f1f5f8;
color: #1537f7;
}



/* HAMBURGER */

.hamburger{
display:none;
flex-direction:column;
cursor:pointer;
gap:5px;
}

.hamburger span{
width:25px;
height:3px;
background:white;
}

/* MOBILE NAVBAR */

@media (max-width: 900px){

.hamburger{
display:flex;
}

.nav-menu{
position:absolute;
top:70px;
left:0;
width:100%;
background:#1e9bb4;
flex-direction:column;
align-items:flex-start;
padding:20px;
gap:18px;
display:none;
}

.nav-menu.active{
display:flex;
}

/* dropdown mobile */

.dropdown{
width:100%;
}

.dropdown-content{
position:static;
background:#1e9bb4;
box-shadow:none;
width:100%;
display:none;
}

.dropdown-content a{
color:white;
padding:8px 0;
}

.dropdown.open .dropdown-content{
display:block;
}

}

/* hover for desktop */

@media (hover:hover){

.dropdown:hover .dropdown-content{
display:block;
}

.submenu{
position:relative;
}

.submenu-content{
display:none;
position:absolute;
left:100%;
top:0;
background:#c6d6e1;
min-width:180px;
}

.submenu:hover .submenu-content{
display:block;
}

}
@media(max-width:900px){

.dropdown-content{
position:static;
display:none;
background:#323c3d;
padding-left: 20px;
}

.dropdown.active .dropdown-content{
display:block;
}

.submenu-content{
display:none;
position:static;
background:#6b767e;
padding-left: 20px;
margin-right: 20px;
}

.submenu.active .submenu-content{
display:block;
}

}
@media(max-width:900px){

.dropdown-content{
display:none;
position:static;
background:#bcd1df;
}

.dropdown.active .dropdown-content{
display:block;
}

.submenu-content{
display:none;
position:static;
}

.submenu:hover .submenu-content{
display:block;
}

}





/* FOOTER */

.footer{
background:#1e9bb4;
color:white;
padding:60px 8% 20px;
}

/* GRID LAYOUT */

.footer-container{
max-width:1200px;
margin:auto;
display:grid;
grid-template-columns:repeat(4,1fr);
gap:150px;

}

/* COLUMN */

.footer-col h3,
.footer-col h4{
margin-bottom:15px;
}

.footer-col p{
font-size:14px;
line-height:1.6;
}

/* LINKS */

.footer-col ul{
list-style:none;
padding:0;
}

.footer-col ul li{
margin-bottom:10px;
}

.footer-col ul li a{
text-decoration:none;
color:white;
font-size:14px;
transition:0.3s;
}

.footer-col ul li a:hover{
color:#1537f7;
padding-left:4px;
font-weight: 600;
}

/* FOOTER BOTTOM */

.footer-bottom{
text-align:center;
margin-top:40px;
border-top:1px solid rgba(255,255,255,0.2);
padding-top:15px;
font-size:14px;
}
html{
scroll-behavior:smooth;
} 


.social-icons{
margin-top:15px;
display:flex;
gap:15px;
}

.social-icons a{
display:flex;
align-items:center;
justify-content:center;
width:30px;
height:30px;
background:#0f4c5c;
color:white;
border-radius:50%;
font-size:12px;
text-decoration:none;
transition:0.3s;
}

.social-icons a:hover{
border: solid 1px;
background-color: #1e9bb4;
transform:translateY(-3px);
}

@media(max-width:900px){

.footer-container{
grid-template-columns:repeat(2,1fr);
gap:30px;
}

}

@media(max-width:600px){

.footer{
padding:50px 20px;
}

.footer-container{
grid-template-columns:1fr;
text-align:center;
gap:25px;
}

.footer-col ul{
padding:0;
}

.social-icons{
justify-content:center;
}

.footer-bottom{
text-align:center;
}

}
/* FOOTER */

/* TABLET */

@media (max-width:900px){

.footer-container{
grid-template-columns:repeat(2,1fr);
gap:30px;
}

}

/* MOBILE */

@media (max-width:500px){

.footer-container{
grid-template-columns:1fr;
text-align:center;
}

}


.insurance-hero{
  padding:100px 20px 140px;
  background:linear-gradient(135deg,#1f9db5,#7a77d9);
  color:white;
  overflow:hidden;
}
.hero-container{
  max-width:1200px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:60px;
}

/* Left */

.hero-left{
  flex:1;
}

.hero-left h1{
  font-size:42px;
  font-weight:700;
  line-height:1.3;
  margin-bottom:20px;
}

.hero-left span{
  color:#ffd84d;
}

.hero-left p{
  font-size:16px;
  max-width:500px;
  margin-bottom:30px;
}

/* Stats */

.hero-stats{
  display:flex;
  gap:15px;
  flex-wrap:wrap;
}

.stat-box{
  padding:10px 18px;
  border-radius:8px;
  border:1px solid rgba(255,255,255,0.4);
  font-size:14px;
  backdrop-filter:blur(6px);
}

/* Right */

.hero-right{
  flex:1;
  position:relative;
  height:420px;
}

.hero-img{
  width:250px;
  height:auto;
  border-radius:10px;
  position:absolute;
  box-shadow:0 10px 25px rgba(0,0,0,0.25);
}

.img1{
  top:20px;
  left:30px;
}

.img2{
  top:100px;
  left:230px;
}

.img3{
  top:220px;
  left:120px;
}

@media(max-width:992px){

.hero-container{
flex-direction:column;
text-align:center;
}

.hero-left p{
margin:auto;
}

.hero-stats{
justify-content:center;
}

.hero-right{
height:280px;
margin-top:30px;
}

}

@media(max-width:600px){

.hero-left h1{
font-size:30px;
}

.hero-img{
  width:170px;
}

.img1{ left:10px; }
.img2{ left:120px; top:80px; }
.img3{ left:60px; top:160px; }
}
@media(max-width:768px){

.hero-container{
flex-direction:column;
text-align:center;
}

.hero-right{
position:static;
height:auto;
display:flex;
flex-wrap:wrap;
gap:15px;
justify-content:center;
margin-top:40px;
}

.hero-img{
position:static;
width:150px;
}

}
.scroll-animate{
opacity:0;
transform:translateY(40px);
transition:all .8s ease;
}

.scroll-animate.active{
opacity:1;
transform:translateY(0);
}

.insurance-simple{
  padding:80px 20px;
  background:#f5f6f7;
}

.container{
  max-width:1200px;
  margin:auto;
}

.section-title{
  text-align:center;
  font-size:30px;
  font-weight:700;
  margin-bottom:50px;
}

.insurance-types{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:35px;
}

.type-card{
  width:120px;
  height:120px;
  background:white;
  border-radius:12px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
  transition:all .3s ease;
}

.type-card img{
  width:40px;
  margin-bottom:8px;
}

.type-card p{
  font-size:14px;
  font-weight:500;
}

/* Hover Effect */

.type-card:hover{
  transform:translateY(-6px);
  box-shadow:0 10px 20px rgba(0,0,0,0.15);
}

@media(max-width:768px){

.section-title{
  font-size:24px;
}

.insurance-types{
  gap:20px;
}

.type-card{
  width:100px;
  height:100px;
}

.type-card img{
  width:32px;
}

}

.scroll-animate{
  opacity:0;
  transform:translateY(40px);
  transition:all .8s ease;
}

.scroll-animate.active{
  opacity:1;
  transform:translateY(0);
}



.product-features{
  padding:80px 20px;
  background:#f5f6f7;
}

.section-title{
  text-align:center;
  font-size:30px;
  margin-bottom:30px;
}

/* Tabs */

.feature-tabs{
  display:flex;
  justify-content:center;
  gap:15px;
  margin-bottom:40px;
}

.tab-btn{
  padding:10px 22px;
  border:none;
  border-radius:20px;
  background:#e5edf0;
  cursor:pointer;
  font-weight:500;
}

.tab-btn.active{
  background:#a7c9d0;
}

/* Grid */

.features-grid{
  display:none;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.features-grid.active{
  display:grid;
}

/* Card */

.feature-card{
  background:#dce8ec;
  padding:30px;
  border-radius:12px;
  text-align:center;
  box-shadow:0 6px 15px rgba(0,0,0,0.08);
  transition:all .3s ease;
}

.feature-card img{
  width:140px;
  margin-bottom:15px;
}

.feature-card h3{
  font-size:18px;
  margin-bottom:10px;
}

.feature-card p{
  font-size:14px;
  color:#555;
  line-height:1.6;
}

.feature-card:hover{
  transform:translateY(-6px);
}

@media(max-width:992px){

.features-grid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:600px){

.features-grid{
grid-template-columns:1fr;
}

.section-title{
font-size:24px;
}

}

.view-plan-wrapper{
  text-align:center;
  margin-top:40px;
}

.view-plan-btn{
  background:#a7c9d0;
  border:none;
  padding:10px 28px;
  border-radius:8px;
  font-size:14px;
  font-weight:550;
  cursor:pointer;
  transition:all .3s ease;
  text-decoration: none;
  color: rgb(0, 0, 0);

}

.view-plan-btn:hover{
  background:#8bb9c2;
  transform:translateY(-2px);
}

@media(max-width:768px){

.view-plan-btn{
padding:10px 22px;
font-size:13px;
}

}   


.now-streaming{
  padding:80px 20px;
  background:#f5f6f7;
}

.stream-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.stream-card{
  position:relative;
  overflow:hidden;
  border-radius:14px;
  cursor:pointer;
  transition:all .4s ease;
}

.stream-card img{
  width:100%;
  height:260px;
  object-fit:cover;
  border-radius:14px;
}

/* Play Button */

.play-btn{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:60px;
  height:60px;
  border-radius:50%;
  background:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:22px;
  box-shadow:0 6px 20px rgba(0,0,0,0.25);
}

/* Hover */

.stream-card:hover{
  transform:translateY(-6px);
}

.stream-card:hover img{
  transform:scale(1.05);
}


@media(max-width:992px){

.stream-grid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:600px){

.stream-grid{
grid-template-columns:1fr;
}

.stream-card img{
height:220px;
}

}

.video-modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
display:none;
align-items:center;
justify-content:center;
z-index:999;
}

.video-container{
position:relative;
width:80%;
max-width:800px;
}

.video-container iframe{
width:100%;
height:450px;
border-radius:10px;
}

.close-video{
position:absolute;
top:-35px;
right:0;
font-size:28px;
color:white;
cursor:pointer;
}

.join-us{
  padding:80px 20px;
  background:#ffffff;
}

.join-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
}

.join-card{
  background:#e4eef1;
  padding:30px;
  border-radius:14px;
  text-align:center;
  transition:all .3s ease;
  box-shadow:0 6px 15px rgba(0,0,0,0.08);
}

.join-card img{
  width:200px;
  margin-bottom:20px;
}

.join-card h3{
  font-size:20px;
  margin-bottom:10px;
}

.join-card p{
  font-size:14px;
  color:#555;
  line-height:1.6;
}

.join-card:hover{
  transform:translateY(-8px);
  box-shadow:0 12px 25px rgba(0,0,0,0.15);
}

@media(max-width:992px){

.join-grid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:600px){

.join-grid{
grid-template-columns:1fr;
}

.join-card img{
width:160px;
}

.section-title{
font-size:24px;
}

}

@media(max-width:992px){

.join-grid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:600px){

.join-grid{
grid-template-columns:1fr;
}

.join-card img{
width:160px;
}

.section-title{
font-size:24px;
}

}

.scroll-animate{
opacity:0;
transform:translateY(40px);
transition:all .8s ease;
}

.scroll-animate.active{
opacity:1;
transform:translateY(0);
}

.protection-plan{
padding:90px 20px;
background:#f5f6f7;
}

.section-title{
text-align:center;
font-size:32px;
font-weight:700;
margin-bottom:10px;
}

.section-sub{
text-align:center;
color:#777;
margin-bottom:60px;
}

.plan-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:40px;
max-width:1000px;
height: auto;
margin:auto;
}

.plan-card{
background:white;
padding:30px;
border-radius:14px;
box-shadow:0 8px 20px rgba(0,0,0,0.08);
transition:0.3s;
}

.plan-card:hover{
transform:translateY(-6px);
}

.plan-title{
font-weight:700;
font-size:18px;
margin-bottom:10px;
}

.plan-desc{
color:#666;
font-size:14px;
margin-bottom:20px;
}

.coverage-box{
background:#dceaf0;
padding:20px;
line-height: 25px;
border-radius:10px;
margin-bottom:20px;
text-align:center;
}

.coverage-box h4{
color:#2c8b5e;
}

.coverage-box h5{
margin-top:5px;
}

.plan-features{
font-size:14px;
color:#555;
margin-bottom:20px;
}

.plan-features li{
margin-bottom:8px;
}

.plan-btn{
background:#2f8f46;
color:white;
padding:12px;
border-radius:8px;
text-align:center;
font-size:14px;
}

@media(max-width:992px){
.plan-grid{
grid-template-columns:1fr;
}
}

.scroll-animate{
opacity:0;
transform:translateY(40px);
transition:all .8s ease;
}

.scroll-animate.active{
opacity:1;
transform:translateY(0);
}

.why-insurance{
padding:90px 20px;
background:#ffffff;
}

.why-grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
max-width:1000px;
margin:auto;
}

.why-card{
background:#e4eef3;
padding:30px;
border-radius:12px;
text-align:center;
transition:0.3s;
box-shadow:0 6px 15px rgba(0,0,0,0.08);
}

.why-card:hover{
transform:translateY(-6px);
}

.why-icon{
width:40px;
height:40px;
background:#1e9bb3;
color:white;
display:flex;
align-items:center;
justify-content:center;
border-radius:8px;
margin:auto;
margin-bottom:15px;
font-size:18px;
}
.why-icon svg{
color:white;
width:22px;
height:22px;
}


.why-card h3{
font-size:16px;
margin-bottom:8px;
}

.why-card p{
font-size:14px;
color:#666;
}

@media(max-width:992px){

.why-grid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:600px){

.why-grid{
grid-template-columns:1fr;
}

.section-title{
font-size:24px;
}

}

.scroll-animate{
opacity:0;
transform:translateY(40px);
transition:all .8s ease;
}

.scroll-animate.active{
opacity:1;
transform:translateY(0);
}